tr.closed {
    background-color: darkseagreen;
}

th {
    cursor: pointer;
}

    th.sortedBy {
        background-color: lightsteelblue;
    }

        th.sortedBy .arrow {
            opacity: 1;
        }

.arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 5px;
    opacity: 0.66;
}

    .arrow.asc {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid black;
    }

    .arrow.dsc {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid black;
    }

.win {
    color: green;
}

.loss {
    color: red;
}
