**/bin/**
**/obj/**
.vs/**
/*.suo
build/.fake/
/TestResult.xml
/TestResults/**
/RaynMaker.Portfolio.gc.*
/packages/Argu.*
/packages/DotLiquid.*
/packages/Expecto.*
/packages/FSharp.Core.*
/packages/Microsoft.AspNet.Razor.*
/packages/Mono.Cecil.*
/packages/RazorEngine.*
/packages/Suave.*
/packages/jQuery.*
/packages/vue.*
/packages/ExcelProvider.*
/packages/bootstrap.*
/packages/Newtonsoft.Json.*
/packages/System.ValueTuple.*
/packages/FsUnit.*
/packages/NUnit.*
/packages/FSharp.Data.*
/src/RaynMaker.Portfolio.Html/node_modules/**
/src/RaynMaker.Portfolio.Html/dist/**
/src/RaynMaker.Portfolio.Service/node_modules/**
**/npm-debug.log
/packages/Plainion.*
package-lock.json
