<!DOCTYPE html>
<html>
<head>
    <title>RaynMaker - Portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/site.css" />
</head>
<body>
    <div class="container-fluid">
        <div id="app">
            <h1>Positions</h1>

            <form id="filter">
                Filter <input name="query" v-model="filter">
            </form>

            <grid :data="positions" :columns="properties" :filter-key="filter" :column-headers="headers" style="margin-top:10px"></grid>

            <h1>Performance</h1>
            <p>
                <label>Total profit: </label> {{ performance.totalProfit | formatValue }}
            </p>

            <h1>Benchmark</h1>
            <p>
                If you would have bought the benchmark "{{ benchmark.name }}" (Isin: {{ benchmark.isin }}) instead you would have gained:
            </p>
            <p>
                <label>Total profit: </label> {{ benchmark.totalProfit | formatValue }}
            </p>
            <p>
                <label>Total ROI: </label> {{ benchmark.totalRoi | formatValue }}
            </p>
            <p>
                <label>Anual ROI: </label> {{ benchmark.totalRoiAnual | formatValue }}
            </p>
        </div>
    </div>

    <script type="text/x-template" id="grid-template">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="5"></th>
                    <th colspan="3" style="text-align:center">Profit</th>
                    <th colspan="3" style="text-align:center">ROI (%)</th>
                    <th colspan="3" style="text-align:center">Anual (%)</th>
                </tr>
                <tr>
                    <th v-for="(key,idx) in columns"
                        @click="sortBy(key)"
                        :class="{ sortedBy: sortKey == key }">
                        {{ columnHeaders[idx] }}
                        <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="entry in filteredData" :class="{ closed: entry.isClosed }">
                    <td v-for="key in columns">
                        {{ entry[key] | formatValue }}
                    </td>
                </tr>
            </tbody>
        </table>
    </script>

    <script src="/Scripts/jquery-3.2.1.min.js"></script>
    <script src="/Scripts/vue.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/site.js"></script>
    <script>
        $(function () {
            init();
        });
    </script>
</body>
</html> 